$primary_color: #fff;
$font: "Aller", Helvetica, Arial, sans-serif;
$font_color: #181818;

@mixin cover($url) {
    background: url($url) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: "Aller";
    src: url("Aller/Aller_Rg.ttf") format("truetype");
}

// Overrides to the base.css from skeleton
body, html {
    height: 100%;
    font: 18px/36px $font;
}
hr {
    margin: 15px 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font;
}
.container {
    min-height: 100%;
}

// Custom css
.lead {
    border-left: 5px solid $font_color;
    margin-left: -10px;
    padding-left: 5px;
}
.title {
    // @include cover('../images/vert_roundel_logo.png');
    height: 100%;
    position: relative;
    text-align: center;
    background-color: #999999;
    background@include filter-gradient(#999999, #333333, horizontal);
    background@include background-image(radial-gradient( center, ellipse cover, #999999 0%, #333333 100%));
    span {
        position: absolute;
        bottom: 0;
        display: inline-block;
        h1 {
            color: #fff;
        }
    }
    img {   
        margin: 40px 0;
        height: 50%;
    }
    .text {
        text-align: center;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
        margin: 0 auto;
        h1, h3 {
            color: #fff;
        }
        hr {
            width: 20%;
            margin: 15px auto;
        }
    }
}
.OS {
    width: 60%;
    display: block;
    margin: 40px auto;
}
















